<div class="analytics-container">

    <h1 class="title">Analytics</h1>
    <div class="box-container">

        <div class="box box1">
            <div class="text">
                <h2 class="topic-heading">{{data.placed}}</h2>
                <h2 class="topic">PLACED</h2>
            </div>

            <img src="../../../../../assets/img/placed.png" alt="Views">
        </div>

        <div class="box box2">
            <div class="text">
                <h2 class="topic-heading">{{data.shipped}}</h2>
                <h2 class="topic">SHIPPED</h2>
            </div>

            <img src="../../../../../assets/img/shipped.png" alt="likes">
        </div>

        <div class="box box3">
            <div class="text">
                <h2 class="topic-heading">{{data.delivered}}</h2>
                <h2 class="topic">DELIVERED</h2>
            </div>

            <img src="../../../../../assets/img/delivered.png" alt="comments">
        </div>


    </div>


</div>
<hr>
<div class="analytics-container">

    <h1 class="title">Orders</h1>
    <div class="box-container">

        <div class="box box1">
            <div class="text">
                <h2 class="topic-heading">{{data.currentMonthOrder}}</h2>
                <h2 class="topic">CURRENT MONTH</h2>
            </div>

            <img src="../../../../../assets/img/orders.png" alt="Views">
        </div>

        <div class="box box2">
            <div class="text">
                <h2 class="topic-heading">{{data.previousMonthOrder}}</h2>
                <h2 class="topic">PREVIOUS MONTH</h2>
            </div>

            <img src="../../../../../assets/img/orders.png" alt="likes">
        </div>




    </div>


</div>
<hr>
<div class="analytics-container">

    <h1 class="title">Earnings</h1>
    <div class="box-container">

        <div class="box box1">
            <div class="text">
                <h2 class="topic-heading">{{data.currentMonthEarning | currency}}</h2>
                <h2 class="topic">CURRENT MONTH</h2>
            </div>

            <img src="../../../../../assets/img/earning.png" alt="Views">
        </div>

        <div class="box box2">
            <div class="text">
                <h2 class="topic-heading">{{data.previousMonthEarning | currency}}</h2>
                <h2 class="topic">PREVIOUS MONTH</h2>
            </div>

            <img src="../../../../../assets/img/earning.png" alt="likes">
        </div>




    </div>


</div>
<hr>