<div *ngIf="cartItems.length > 0; else emptyCart">
    <div class="cart-container">
        <div class="cart-item" *ngFor="let item of cartItems">
            <div class="product-card">
                <div class="product-image">
                    <img [src]="item.processedImg" alt="Product Image">
                </div>
                <div class="product-details">
                    <div class="product-info">
                        <h3 class="item-name">{{item.productName}}</h3>
                        <span class="item-price">{{ item.price | currency}}</span>
                    </div>
                    <div class="quantity-controls">
                        <button mat-icon-button [disabled]="item.quantity == 1">
                            <mat-icon>remove_circle_outline</mat-icon>
                        </button>
                        <span class="quantity">{{item.quantity}}</span>
                        <button mat-icon-button>
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="total-price">
            Total Amount : {{order.totalAmount | currency}}
        </div>
        <div class="total-price">
             Amount : {{order.amount | currency}}
        </div>
        <div class="order-place">
            <button mat-flat-button color="primary">Placed Order</button>
        </div>
        
        
    </div>
</div>

<ng-template #emptyCart>
    <div class="empty-cart">
        <mat-icon>remove_shopping_cart</mat-icon>
        <span>Nothing to see here</span>
    </div>
</ng-template>
