<div class="bootstrap-wrapper">
        <div class="row">
                <mat-card>
                    <div class="conatiner">
                        <div class="text-center">
                            <h1>Add Coupon</h1>
                            <img class="signup-logo" src="../../../../../assets/img/Gift card-bro.png" alt="signup logo" />
                        </div>
                        <form [formGroup]="couponForm" (ngSubmit)="addCoupon()">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Name</mat-label>
                                <input matInput formControlName="name" required />
                   
                            </mat-form-field>
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Code</mat-label>
                                <input matInput formControlName="code" required/>
                       
                            </mat-form-field>
                             <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Discount</mat-label>
                                <input matInput formControlName="discount" required/>

                             
                            </mat-form-field>
                        
                            
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Choose A Expireation Date</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="expirationDate">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                              
                            <div class="btn-link">
                                <button type="submit"  mat-raised-button color="primary">Add Coupon</button>

                            </div>
                            

                        </form>
                    </div>
                </mat-card>
         

        </div>
    
</div>
