.text-center {
    text-align: center;
}

.signup-logo {
    width: 300px;
    margin-top: 8px;
}

.full-width {
    width: 100%;
}

.bootstrap-wrapper {
    margin-left: 500px;
    margin-right: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

mat-label {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

mat-card {
    margin-top: 100px;
}

.btn-link {
    text-align: center;
}