.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

/* Columns */
.left-column {
    width: 65%;
    position: relative;
}

.right-column {
    width: 35%;
    margin-top: 60px;
}

/* Left Column */
.left-column img {
    width: 500px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.left-column img.active {
    opacity: 1;
}



/* Product Description */
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.product-description span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;

}

.product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
    margin-top: 20px;
    text-transform: uppercase;
}

.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #5d6164;
    line-height: 24px;
}


/* Product Price */
.product-price {
    display: flex;
    align-items: center;
}

.product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #000000;
    margin-right: 20px;
}

.title h1 {

    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: rgb(13, 15, 121);

}

.review-container {
    margin-top: 350px;


}

.review-list {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.review-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 400px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.review-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.info {
    flex-grow: 1;
}

.rname {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.rdesc {
    margin-bottom: 10px;
}

.rrating {
    font-style: italic;
    color: #888;
}

.FAQ-list {
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;

}

.FAQ-list ul {
    list-style-type: none;
    padding: 0;
}

.FAQ-list ul li {
    margin-bottom: 10px;
    font-size: 20px;
}

.FAQ-list ul li:first-child {
    font-weight: bold;
    color: rgb(255, 44, 44);
}