<div class="conatiner">

    <mat-card >
        
          <mat-card-title>Place Order</mat-card-title>
        <mat-card-content>
            <form [formGroup]="placedForm">
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput formControlName="address" placeholder="Address">
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Order Description</mat-label>
                <input matInput  formControlName="orderDesc" placeholder="Order Description">
                
              </mat-form-field>
              <div class="btn-row">
                <button mat-flat-button color="primary" type="submit" [disabled]="placedForm.invalid" (click)="placedOrder()">Order</button>
                <button mat-flat-button color="warm" (click)="closeForm()">Close</button>
              </div>
            </form>
        </mat-card-content>
        
      </mat-card>

</div>
